.single .entry-header {
	display: none;
}
#my_inst_bg {
      max-width: 640px;
      text-align: center;
      padding: 10px;
      /*background-color: rgba(234, 234, 234, 0.5);*/
      border-radius: 5px;
 }